.galeria-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 40px;
    padding: 2rem;
}

.galeria-container {
    width: 100%;
    max-width: var(--max-width);
}

.galeria-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}


.imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.galeria-item {
    flex: 1 1 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.galeria-item:hover {
    transform: scale(1.5);
}